/* login2.module.css */
    .container {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.290) 0%, rgba(0, 0, 0, 0.390) 50%, rgba(0, 0, 0, 0.290) 100%), url('../img/dji_fly_20231004_113204_109_1696802874708_photo_optimized.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
  }
  
  .input {
	width: 100%;
	padding: 12px 20px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 50px;
	transition: all 0.4s ease-in-out;
	outline: none;
	background-color: #f0f0f0;
	position: relative;
	z-index: 1;
	
  }
  
  .input:focus {
	border-color: #4CAF50;
	background-color: #e8f5e9;
	box-shadow: 0 10px 20px rgba(76, 175, 80, 0.4);
	transform: scale(1.05) translateY(-5px);
  }
  
  .input:hover {
	border-color: #4CAF50;
	background-color: #c8e5ed;
	box-shadow: 0 8px 15px rgba(76, 175, 80, 0.3);
  }
  
  .input:active {
	transform: scale(0.97) translateY(3px);
  }
  
  .input::placeholder {
	color: #888;
	font-style: italic;
	transition: all 0.3s ease;
  }
  
  .input:focus::placeholder {
	color: #aaa;
  }
  
  .input:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150%;
	height: 300%;
	background: linear-gradient(135deg, #6692bb, #43a062, #2bbfff);
	z-index: -1;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.5s ease;
	border-radius: 50%;
  }
  
  .input:focus:before {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .input:focus-within {
	border-color: transparent;
  }
  
  .btn {
	text-align: center;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #0032d6, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
  }
  
  .btn:hover {
	background-position: right;
  }
  